<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @text_message.number %>
</p>

<p>
  <strong>Body:</strong>
  <%= @text_message.body %>
</p>

<%= link_to 'Edit', edit_text_message_path(@text_message) %> |
<%= link_to 'Back', text_messages_path %>
